<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".py" mimeType="text/plain" />
    </staticContent>
    
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>

    <httpPlatform processPath="D:\home\site\wwwroot\env\Scripts\wfastcgi.py" arguments="soil_soul_project.wsgi" stdoutLogEnabled="true" stdoutLogFile="D:\home\LogFiles\wfastcgi.log">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="D:\home\site\wwwroot" />
        <environmentVariable name="WSGI_HANDLER" value="soil_soul_project.wsgi.application" />
      </environmentVariables>
    </httpPlatform>

    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="bin" />
          <add segment="include" />
          <add segment="lib" />
          <add segment="Lib" />
          <add segment="pyvenv.cfg" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
